{% extends 'base.html' %}
{% block title %}Hospitals{% endblock title %}
{% block body %}
 <!-- Search Start -->
 <div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Find Your Hospital</h5>
            <h1 class="display-4 mb-4">Type the name of the the hospital.</h1>
        </div>
        <div class="mx-auto" style="width: 100%; max-width: 600px;">
            <form method = "get" action = "/medicare/search-hospital">
            <div class="input-group">
                    {% csrf_token %}
                <input name = "query" type="text" class="form-control border-primary w-50" placeholder="Keyword">
                </form>
                <button class="btn btn-dark border-0 w-25">Search</button>
            </div>
        </div>
    </div>
</div>
<!-- Search End -->
    <!-- Hospitals Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="owl-carousel price-carousel position-relative" style="padding: 0 45px 45px 45px;">
                 {% for x in hospitals %}
                <div class="bg-light rounded text-center">
                    <div class="position-relative">
                        <img class="img-fluid rounded-top" src="/static/img/price-1.jpg" alt="">
                        <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center" style="background: rgba(29, 42, 77, .8);">
                            <h3 class="text-primary">{{x.name}}</h3>
                            <h1 class="display-4 text-white mb-0">
                                <small class="align-top fw-normal" style="font-size: 22px; line-height: 45px;">{{x.state}}</small>
                            </h1>
                        </div>
                    </div>
                    <div class="text-center py-5">
                        <p>District: {{x.district}}</p>
                        <p>Location: {{x.location}}</p>
                        <p>Type: {{x.type}}</p>
                        <a href="/medicare/hospitals/{{x.pk}}" class="btn btn-primary rounded-pill py-3 px-5 my-2">View Details</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Hospitals End -->
{% endblock body %}