{% extends 'base.html' %}
{% block title %}Search results for {{query}}{% endblock title %}
{% block body %}
<div class = "container my-4">
    <h2> Here are the search results for your query: {{query}}
    </div>
 <!-- Hospitals Start -->
 <div class="container-fluid py-5">
    <div class="container">
        <div class="owl-carousel price-carousel position-relative" style="padding: 0 45px 45px 45px;">
             {% for x in allHospitals %}
            <div class="bg-light rounded text-center">
                <div class="position-relative">
                    <img class="img-fluid rounded-top" src="/static/img/price-1.jpg" alt="">
                    <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center" style="background: rgba(29, 42, 77, .8);">
                        <h3 class="text-primary">{{x.name}}</h3>
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top fw-normal" style="font-size: 22px; line-height: 45px;">{{x.state}}</small>
                        </h1>
                    </div>
                </div>
                <div class="text-center py-5">
                    <p>District: {{x.district}}</p>
                    <p>Location: {{x.location}}</p>
                    <p>Type: {{x.type}}</p>
                    <a href="/medicare/hospitals/{{x.pk}}" class="btn btn-primary rounded-pill py-3 px-5 my-2">View Details</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Hospitals End -->
{% endblock body %}
