{% extends 'base.html' %}
{% block title %}Patient Sign Up{% endblock title %}
{% block body %}
   <div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Patient Signup</h5>
                    <h1 class="display-4">Create an account here</h1>
                </div>
                <p class="mb-5">Eirmod sed tempor lorem ut dolores. Aliquyam sit sadipscing kasd ipsum. Dolor ea et dolore et at sea ea at dolor, justo ipsum duo rebum sea invidunt voluptua. Eos vero eos vero ea et dolore eirmod et. Dolores diam duo invidunt lorem. Elitr ut dolores magna sit. Sea dolore sanctus sed et. Takimata takimata sanctus sed.</p>
                <a class="btn btn-primary rounded-pill py-3 px-5 me-3" href="">Home</a>
                <a class="btn btn-outline-primary rounded-pill py-3 px-5" href="">Read More</a>
            </div>
            <div class="col-lg-6">
                <div class="bg-light text-center rounded p-5">
                    <h1 class="mb-4">Create Patient Account</h1>
                    <form method = "POST" action = "/medicare/patientsignup/">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input name = "username" type="text" class="form-control bg-white border-0" placeholder="Username" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input name = "email" type="text" class="form-control bg-white border-0" placeholder="Email" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input name= "password" type="password" class="form-control bg-white border-0" placeholder="Your Password" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input name= "cpassword" type="password" class="form-control bg-white border-0" placeholder="Confirm Password" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
